TENANT_ID=YOUR-TENANT-ID
CLIENT_ID=YOUR-CLIENT-ID
CLIENT_SECRET=YOUR-CLIENT-SECRET
FHIR_SERVER_URL=HTTPS://YOUR-FHIR-SERVER-URL 
server = YOUR-SERVER
database = YOUR-DATABASE
username = YOUR-USERNAME
password = YOUR-PASSWORD
driver =YOUR-DRIVER-NAME